INVOICE_REGISTRATION_NUMBER=T1234567890123
INVOICE_PREFIX=INV
RECEIPT_PREFIX=RCP
COMPANY_NAME=株式会社FELICITY
COMPANY_POSTAL=240-0112
COMPANY_ADDRESS=神奈川県三浦郡葉山町上山口2432-3
COMPANY_PHONE=
COMPANY_EMAIL=hello@felicity.cafe
COMPANY_BANK=
RESEND_API_KEY=
ACCOUNTANT_EMAIL=
